
@{
    ViewBag.Title = "AddItem";
}

<h2>AddItem</h2>
<label>Files</label>
@using (Html.BeginForm("Upload", "Controllers", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Item Name:</label>
    <input type="text" id="title" />
    <label>Description</label>
    <input type="text" id="description" />
    <input type="file" name="holder" accept=".stl" />
    <br />
    <input type="submit" value="OK" />
}