@{
    ViewBag.Title = "Creator";
}

<div class="creator">
    <div class="controls">
        @*//controls here*@
    </div>
    <canvas width="700px"></canvas>
    <div class="options">
        @*//options here*@
    </div>
</div>