@{
    ViewBag.Title = "Creator";
}

<div class="creator">
    <div class="controls">
        @*//controls here*@
        Controls
    </div>
    <canvas></canvas>
    <div class="options">
        @*//options here*@
        Options
    </div>
</div>